<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="false" strict="true">

  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>
  <import class="ch.qos.logback.classic.AsyncAppender"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>%magenta(%d{ISO8601}) %highlight(%-5level) [%blue(%thread)] %yellow(%logger{10}) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC" class="AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="io.leftcoast" level="debug" />

  <root level="warn">
    <appender-ref ref="ASYNC" />
  </root>
</configuration>
